@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .mainHeader {
        @apply sm:text-headerOne text-xxxl flex uppercase text-justify leading-[0.95] font-800;
    }

    .cloud-background {
        background-image: url('/cloud-background.svg');
        background-size: cover;
    }

    .ui-background {
        background-color: rgba(200, 200, 200, 0.2);
        backdrop-filter: blur(20px);
    }

    .ui-background-dark {
        background-color: rgba(80, 80, 80, 0.6);
        backdrop-filter: blur(20px);
    }

    .ui-background-no-blur {
        /* background-color: rgba(80, 80, 80, 0.7); */
        background: linear-gradient(#848484b4, #3d3d3d8d);
    }
}

@layer base {
    * {
        @apply border-border box-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.cl-formFieldInput, .cl-otpCodeFieldInput {
    @apply text-textColors-textBody rounded-xl;
    
}